<h2>Login</h2>
<form action="/auth/login" method="POST">
    <label for="auth-email"></label>
    <input type="email" id='auth-email' name='email'>

    <label for="auth-passord"></label>
    <input type="password" id='auth-password' name='password'>

    <input type="submit" value='Log in'>
</form>