<div class="searchBox">
    <div class="formBox">
        <form method='GET' action='/search/title'>
                <div class="col s12">
                    <div class="input-field inline">
                      <input id="searchTerm" type="text" name="searchTerm">
                      <label for="searchTerm">Search By Title</label>
                    </div>
                </div>
                <input type='submit' value="Search">
        </form>
    </div>
    <div class="formBox">
        <form method='GET' action='/search/genre' autocomplete="off">
            <div class="col s12">
                <div class="autocomplete input-field inline">
                    <input id="genreInput" type="text" name="genre" >
                    <label for='genreInput'>Search by Genre</label>
                </div>
            </div>
            <input type='submit' value="Search">
        </form>
    </div>
</div>