<h1>REEEEEEE</h1>
<form method='GET' action='/search'>
    <label for='searchTerm'>Search for your next binge:</label>
    <input type='text' id='searchTearm' name='searchTerm'>
    <input type='submit'>
</form>