<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>What's Nextflix?</h1>
        <%- include('partials/alerts.ejs')%>
        <p>The app designed to help you fill the void</p>
        <nav>
            
                <% if (!currentUser){%>
                    <a href="/">Home</a>
                    <a href="/auth/login">Login</a>
                    <a href="/auth/signup">Sign Up</a>
                <% }else{ %> 
                    <a href="/">Home</a>
                    <a href="/profile">Profile</a>
                    <a href="/watchlist">Watch List</a>
                    <a href="/watchlist/reviews">Watched List</a>
                    <a href="/auth/logout">Logout</a>
                <%}%>
        </nav>
    </header>
    <main>
        
        <%- body %>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>