<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WN</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header">
            <h1 class="bigTitle">What's Nextflix?</h1>
            <%- include('partials/alerts.ejs')%>
            <p>The app designed to help you fill the void</p>
            <p class="description">Search Netflix content by title or by one of over 500 genres, add to your list to be watched. Once watched review content to add to your Watched List.</p>
        </div>
        <nav>
            
                <% if (!currentUser){%>
                    <a href="/">Home</a>
                    <a href="/auth/login">Login</a>
                    <a href="/auth/signup">Sign Up</a>
                <% }else{ %> 
                    <a href="/">Home</a>
                    <a href="/profile">Profile</a>
                    <a href="/watchlist">Watch List</a>
                    <a href="/watchlist/reviews">Watched List</a>
                    <a href="/auth/logout">Logout</a>
                <%}%>
                <h3>WN</h3>
        </nav>
    </header>
    <main>
        <div class="views">
            <%- body %>
        </div>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>