body {
  background-color: rgb(232, 226, 226);
  font-family: sans-serif;
  margin: 0;
}

.bingeWorthy {
  opacity: 1;
}

nav{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: black; 
  z-index: 100;
} 
header{
  position: relative;
  top: 50px;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
h1{
  color: #E50916;
  text-align: center;
}
h2{
  color: black;
  text-align: center;
  font-size: 36px;
}

a {
  text-decoration: none;
  font-weight: bolder;
}
a:visited {
  color: white;
}
a:hover{
  color: gray;
  background-color: white;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}


.autocomplete {
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
  
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  color:black;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.delete input{
  display: block;
  margin-right: auto;
  margin-left: auto;
}



main{
  margin-top: 50px;
  
}
.searchBox{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  width: 90%;
  margin: auto;
}
.formBox{
  width: 40%;
}

.textbox {
  display: inline-block;

}

p{
  padding-bottom: 10px;
}

.show, .login{
  border: 1px solid white;
  margin: 5px;
  border-radius: 3px;
  padding: 10px;
  width: 30vw;
  background-color: lightgray;
  color: black;
  
}
.show ul {
  display: flex;
  flex-direction: column;
}
img{
  display: block;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.listOfShows{
  display: flex;
  flex-wrap: wrap;
}

/* @media only screen and (max-width: 600px) {
  .show{
    width: 80vw;
  }
} */

.login{
  width: 80vw;
  position: relative;
  margin-right: auto;
  margin-left:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}


.showEdit {
  border: 1px solid white;
  margin: 5px;
  border-radius: 3px;
  padding: 10px;
  width: 30vw;
  background-color: lightgray;
  color: black;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
label {
  display: block;
}
#new-name {
  width: 188px;
}

.description{
  display: inline-block;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}
.views{
  display: flex;
  flex-direction: column;
}
.bigTitle{
  font-size: 60px;
  padding: 5px;
}
.views h2{
  text-align: center;
}
.card-title {
  background-color: rgba(229, 9, 22, 0.6);
  border-top-right-radius: 3px;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.row .col.s12.m6{
  max-width: 360px;
  min-width: 360px;
  margin: auto;
  min-height: 520px;
}
.card {
  min-height: 520px;
}
.input-field.inline{
  width: 100%;
  min-width: 130px;
}

.reviewButton{
  margin: 3px;
}
/* label focus color */
.input-field input:focus + label {
  color: black !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important;
 }